.task {
    display: block;
    width: 100%;
    /*border: 1px solid #eaeaea;*/
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 0 1px #eaeaea, 0px 0px 5px 0px #e4e4e4;
}

.checked {
    box-shadow: 0 0 5px 0 #631e1e;
}

.wrapperXs {
    margin-bottom: 8px;
}

.wrapperXs:last-child {
    margin-bottom: 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}


.status {
    margin: 0;
    padding: 8px 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    letter-spacing: 0.3px;
    display: block;
    position: relative;
    padding-left: 45px;
    cursor: pointer;
}

.status:before {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background: #fff;
    display: block;
    border: 1px solid #9e9b9b;
}

.input {
    display: none;
}

.input:checked ~ .status:after {
    position: absolute;
    display: block;
    width: 9px;
    content: '';
    height: 4px;
    border-left: 2px solid #b9a3e4;
    border-bottom: 2px solid #b9a3e4;
    top: 50%;
    transform: translateY(-70%) rotate(-45deg);
    left: 18px;
}

.statusName {
    margin: 0;
}

.create {
    background: #e4a3a6;
}
.input:checked ~.create:after {
    border-color: #e4a3a6;
}

.done {
    background: #b9a3e4;
}

.input:checked ~.done:after {
    border-color: #b9a3e4;
}

.progress {
    background: #a3e4a8;
}

.input:checked ~.progress:after {
    border-color: #a3e4a8;
}

.hover {
    box-shadow: 0px 0px 5px 0px #921010;
}

.title {
    margin: 0 0 10px;
}

.title:last-child {
    margin-bottom: 0;
}