
.inputWrapper {
    margin-bottom: 15px;
}

.inputWrapper:last-child {
    margin-bottom: 0;
}


.buttonWrapper {
    max-width: 200px;
    margin: 0;
    margin-right: 15px;
}

.buttonWrapper:last-child {
    margin-right: 0;
}

.inputInner {
    display: flex;
    justify-content: space-between;
}

.placeholder {
    margin: 0 0 8px;
    font-family: 'Roboto Condensed', sans-serif;
}

.buttonsGroup {
    display: flex;
    justify-content: space-around;
}