.board {
    padding-bottom: 50px;
}
.boardItem {
    margin-bottom: 20px;
}

.boardItem:last-child {
     margin-bottom: 0;
}

.title {
    text-align: center;
    margin: 0 0 5px;
    color: #35364c;
}

.subtitle {
    text-align: center;
    margin: 0;
    color: #35364c;
}

.headerBlock {
    margin-bottom: 25px;
}