.active {
    color: green;
}


.link {
    display: block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid var(--color-dark-purple);
    border-radius: 3px;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    font-weight: 700;
    color: var(--color-dark-purple);
    box-sizing: border-box;
    font-size: 14px;
    line-height: 18px;
}

.link.delete {
    border: 1px solid var(--color-light-purple);
    color: var(--color-light-purple);
}

.link[disabled] {
    opacity: 0.5;
    cursor: default;
}

.link.change {
    border: 1px solid var(--color-dark-green);
    color: var(--color-dark-green);
}

.icon {
    width: auto;
    height: auto;
    background: transparent;
    border: none;
}


.nav {
    border: none;
    width: auto;
    color: var(--color-grafit);
}

.secondary {
    border: none;
    width: auto;
    text-transform: none;
    color: var(--color-grafit);
}